current_path="$(pwd)"

export PIPENV_VENV_IN_PROJECT=1
export PYTHONPATH="$current_path"

export ENVIRONMENT="dev"

export CELERY_BROKER_HOST="rabbitmq"
export CELERY_BROKER_PORT="5672"
export CELERY_BROKER_USER="test_user"
export CELERY_BROKER_PASSWORD="test_password"

export DB_HOST="db"
export DB_PORT="4000"
export DB_NAME="task_scheduler"
export DB_USER="test_user"
export DB_PASSWORD="test_password"

export DJANGO_SECRET_KEY="dummy_secret_key_dont_use_in_production"

layout pipenv
